# vim:noet

# Vim
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule ".vim/bundle/php-indent"]
	path = .vim/bundle/php-indent
	url = git://github.com/2072/PHP-Indenting-for-VIm.git
	ignore = dirty
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = dirty
[submodule ".vim/bundle/mru"]
	path = .vim/bundle/mru
	url = git://github.com/ornicar/vim-mru.git
	ignore = dirty
[submodule ".vim/bundle/auto-mkdir"]
	path = .vim/bundle/auto-mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
	ignore = dirty
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/bundle/nerd-commenter"]
	path = .vim/bundle/nerd-commenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = git://github.com/timcharper/textile.vim.git
	ignore = dirty
[submodule ".vim/bundle/nerd-tree"]
	path = .vim/bundle/nerd-tree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git://github.com/leshill/vim-json.git
	ignore = dirty
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/slack/vim-bufexplorer.git
	ignore = dirty
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule ".vim/bundle/securemodelines"]
	path = .vim/bundle/securemodelines
	url = git://github.com/ciaranm/securemodelines.git
	ignore = dirty
[submodule ".vim/bundle/delimit-mate"]
	path = .vim/bundle/delimit-mate
	url = git://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/tmhedberg/matchit.git
	ignore = dirty
[submodule ".vim/bundle/match-tag"]
	path = .vim/bundle/match-tag
	url = git://github.com/gregsexton/MatchTag.git
	ignore = dirty
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/acustodioo/vim-snipmate.git
	ignore = dirty
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = git://github.com/acustodioo/vim-snippets.git
	ignore = dirty
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
	ignore = dirty
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule ".vim/bundle/haml"]
	path = .vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
	ignore = dirty
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule ".vim/bundle/ruby-sinatra"]
	path = .vim/bundle/ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra.git
	ignore = dirty
[submodule ".vim/bundle/textobj-rubyblock"]
	path = .vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = dirty
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule ".vim/bundle/enter-indent"]
	path = .vim/bundle/enter-indent
	url = git://github.com/acustodioo/vim-enter-indent.git
	ignore = dirty
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
	ignore = dirty
[submodule ".vim/bundle/jquery"]
	path = .vim/bundle/jquery
	url = git://github.com/itspriddle/vim-jquery.git
	ignore = dirty
[submodule ".vim/bundle/preview"]
	path = .vim/bundle/preview
	url = git://github.com/greyblake/vim-preview.git
	ignore = dirty
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = git://github.com/akhil/scala-vim-bundle.git
	ignore = dirty
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
	ignore = dirty
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
	ignore = dirty
[submodule ".vim/bundle/grep"]
	path = .vim/bundle/grep
	url = git://github.com/vim-scripts/grep.vim.git
	ignore = dirty
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule ".vim/bundle/session"]
	path = .vim/bundle/session
	url = git://github.com/xolox/vim-session.git
	ignore = dirty
[submodule ".vim/bundle/shell"]
	path = .vim/bundle/shell
	url = git://github.com/xolox/vim-shell.git
	ignore = dirty
[submodule ".vim/bundle/cmdline-completion"]
	path = .vim/bundle/cmdline-completion
	url = git://github.com/acustodioo/vim-cmdline-completion.git
	ignore = dirty
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule ".vim/bundle/rvm"]
	path = .vim/bundle/rvm
	url = git://github.com/tpope/vim-rvm.git
	ignore = dirty
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule ".vim/bundle/bundler"]
	path = .vim/bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
	ignore = dirty
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git://github.com/statianzo/vim-jade.git
	ignore = dirty
[submodule ".vim/bundle/visual-star-search"]
	path = .vim/bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
	ignore = dirty
[submodule ".vim/bundle/visincr"]
	path = .vim/bundle/visincr
	url = git://github.com/vim-scripts/VisIncr.git
	ignore = dirty
[submodule ".vim/bundle/cucumber"]
	path = .vim/bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
	ignore = dirty
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
	ignore = dirty
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = git://github.com/rson/vim-conque.git
	ignore = dirty
[submodule ".vim/bundle/tmux"]
	path = .vim/bundle/tmux
	url = git://github.com/acustodioo/vim-tmux.git
	ignore = dirty
[submodule ".vim/bundle/cocoa"]
	path = .vim/bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
	ignore = dirty
[submodule ".vim/bundle/tabman"]
	path = .vim/bundle/tabman
	url = git://github.com/kien/tabman.vim.git
	ignore = dirty
[submodule ".vim/bundle/fakeclip"]
	path = .vim/bundle/fakeclip
	url = git://github.com/kana/vim-fakeclip.git
	ignore = dirty
[submodule ".vim/bundle/sudo-edit"]
	path = .vim/bundle/sudo-edit
	url = git://github.com/chrisbra/SudoEdit.vim.git
	ignore = dirty
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
	ignore = dirty
[submodule ".vim/bundle/web2py"]
	path = .vim/bundle/web2py
	url = git://github.com/pancurster/vim_web2py_syntax.git
	ignore = dirty
